.ant-list-item {
    background-color: #88898B;
    justify-content: space-around;
    padding: 0%;
    align-items: center;
    font-size: 10px;
}

.ant-list {
    height: 300px
}

.ant-list-item > p {
    margin-top: 3%;
    overflow: auto;
}

.vote-list-row {
    margin-top: 5%;
}